body {
    background: rgb(110, 110, 107);
}

.wrapper {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 45%;
    top: 40%;
    transform: translate(-50%, -50%);
}
.box-area {
    animation: animate 5s ease-in-out infinite;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
   
}

.box-area div {
    position: absolute;
    width: 200px;
    height: 200px;
    line-height: 200px;

}

.box-area .box1{
    border: rgb(0, 0, 0) solid 1px;
    background-color: black;
    background-size: cover;
    background-position: center center;
    transform: translateZ(100px);
    
}
.box-area .box2{
    background-color: rgb(255, 0, 0);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: rotateY(90deg) translateZ(100px);
    border: rgb(0, 0, 0) solid 1px;
}
.box-area .box3{
    background-color: rgb(238, 171, 2);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    border: rgb(0, 0, 0) solid 1px;
}
.box-area .box4{
    background-color: rgb(255, 255, 0);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    border: rgb(0, 0, 0) solid 1px;
}
.box-area .box5{
    background-color: rgb(179, 255, 0);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    border: rgb(0, 0, 0) solid 1px;
}
.box-area .box6{
    background-color: rgb(255, 255, 255);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: rotateX(-90deg) translateZ(100px);
    border: rgb(0, 0, 0) solid 1px; 
}

@keyframes animate{
    from,to{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16%{
        transform: rotateY(-90deg);
    }
    33%{
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
        transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
        transform: rotateX(90deg);
    }
}

.wrapper, .box-area, .box1, .box2, .box3, .box4, .box5, .box6 {
    transform: scale(0.07);
} 